# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.envrc
.venv/

# ===============================
# Jupyter / Colab
# ===============================
.ipynb_checkpoints/
*.ipynb

# ===============================
# PyTorch / Models
# ===============================
#*.pt
*.pth

# ===============================
# Logs & outputs
# ===============================
*.log
logs/
outputs/
results/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE / Editors
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# Python packaging
# ===============================
build/
dist/
*.egg-info/

# ===============================
# Temporary files
# ===============================
*.tmp
*.bak